body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
}

h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

a {
    color: #000;
}

a.super-link {
    padding: 10px;
    background: orange;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;

    &:hover {
        background: #000;
    }
}

.highlight {
    border-bottom: 3px solid #BC4087;
    padding-bottom: 1px;
    //color: #fff;
}