body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', sans-serif;
}

h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

a {
    color: #000;
}